{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "ecmascript": 6,
        "jsx": true
    },
    "plugins": [
        "react",
        "prettier"
    ],
    "extends": ["prettier"],
    "rules": {
    "prettier/prettier": "error",
    "no-alert": "error",
    "no-array-constructor": "error",
    "no-caller": "error",
    "no-catch-shadow": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multi-spaces": ["error", { "ignoreEOLComments": false }],
    "no-multi-str": "error",
    "no-native-reassign": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-process-exit": "error",
    "no-proto": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-shadow-restricted-names": "error",
    "no-spaced-func": "error",
    "no-trailing-spaces": "error",
    "no-undef-init": "error",
    "no-underscore-dangle": "error",
    "no-unused-expressions": "error",
    "no-use-before-define": "error",
    "no-with": "error",
    "camelcase": "error",
    "comma-spacing": "error",
    "indent": ["error", 2, { "ignoreComments": true }],
    "consistent-return": "error",
    "curly": ["warn", "multi-line"],
    "dot-notation": ["error", {
      "allowKeywords": true
    }],
    "eol-last": "error",
    "no-extra-parens": ["error", "functions"],
    "eqeqeq": "error",
    "key-spacing": ["error", {
      "beforeColon": false,
      "afterColon": true
    }],
    "new-cap": "error",
    "new-parens": "error",
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": ["error", {
      "words": true,
      "nonwords": false
    }],
    "strict": ["error", "global"],
    "yoda": ["error", "never"]

  }
}
