[alias]
	logg = log --all --decorate --oneline --graph
[user]
	name = hballard
	email = heath.ballard@gmail.com
[core]
	excludesfile = /Users/heath/.gitignore
[credential]
	helper = store
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[init]
	defaultBranch = master
[credential "https://dev.azure.com"]
	useHttpPath = true
